<!-- index.html -->

<!DOCTYPE html>
<html>
<head>

    <base href="/">
    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        .navbar { border-radius:0; }
    </style>

    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="app.js"></script>
    <script src="../controllers/catalogueController.js"></script>
    <script src="../controllers/itemController.js"></script>
    <script src="../controllers/userController.js"></script>
    <script src="../controllers/userManagement.js"></script>
    <script src="../controllers/cartController.js"></script>
    <script src="../controllers/orderController.js"></script>
    <script src="pages.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<!-- apply our angular app to our site -->
<body ng-app="routerApp">



<!-- NAVIGATION -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">AngularUI Router</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a type="button" ui-sref="home">Home</a></li>
        <li><a type="button" ui-sref="item">Item</a></li>
        <li><a type="button" ui-sref="catalogue">Catalogue</a></li>
        <li><a type="button" ui-sref="addItem" ng-show="admin" class="ng-hide"> Add Item</a></li>
        <li><a type="button" ui-sref="registerUser">Register</a></li>
        <li><a type="button" ui-sref="userManagement" ng-show="admin">User Management</a></li>
        <li><a type="button" ui-sref="login">Login</a></li>
        <li><a type="button" ui-sref="logout" ng-click="logoutUser()" ng-controller="userController" ng-show="loggedIn">Logout</a></li>

    </ul>
    <ul class="nav navbar-right">
        <button type="button" class="btn btn-default btn-sm" ng-controller="cartController" ng-click="cart()">
            <span class="glyphicon glyphicon-shopping-cart"></span> <b id="cart"></b> Items in Cart
        </button>

    </ul>
</nav>

<!-- MAIN CONTENT -->
<div class="container">

    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ui-view></div>

</div>



</body>
</html>
