
<div class="container">
    <h1> ACHTUNG! Till now you can remove only last element! </h1>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1" >
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-controller="cartController" ng-repeat="s in ses">
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="catalogue/{{s._id}}"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="catalogue/{{s._id}}">{{s.name}}</a></h4>
                            </div>
                        </div></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="number" class="form-control" id="exampleInputEmail1" ng-model="s.count" value={{s.count}}>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{s.price}}&euro;</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{s.count * s.price}}&euro;</strong></td>

                    <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" ng-controller="cartController" ng-click="removeFromCart(s._id)">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                </tr>
                <tr>

                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>

                    <td class="text-right"><h3><strong>{{totalprice}}</strong></h3></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <a href="#/catalogue" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </a></td>
                    <td>
                        <button type="button" class="btn btn-success" ng-click="checkout()">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>





