            <form role="form">
                <input type="hidden" value="true" ng-model="item.stock">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" ng-model="item.name">
                </div>
                <div class="form-group">
                    <label>Category: </label>
                    <select name="cars" ng-model="item.cathegory">
                        <option value="CPU" ng-model="item.cathegory">CPU</option>
                        <option value="GPU" ng-model="item.cathegory">GPU</option>
                        <option value="RAM" ng-model="item.cathegory">RAM</option>
                        <option value="MOBO" ng-model="item.cathegory">MOBO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Weight:</label>
                    <input type="text" class="form-control" ng-model="item.weight">
                </div>
                <div class="form-group">
                    <label>Price:</label>
                    <input type="text" class="form-control" ng-model="item.price">
                </div>
                <label>Image:</label>
                <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" multiple>
                    </span>
                </span>
                    <input type="text" class="form-control" readonly>

                </div>
            <span class="help-block">
                You have to upload the image in jpg, jpeg or png format
            </span>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea class="form-control" rows="5" id="disc" ng-model="item.description"></textarea>
                </div>
                <button type="button" class="btn btn-primary" ng-click="addItem()">Add Item</button>
            </form>

