<div class="container">
    <div class="row">
        <div class="well">
            <h1 class="text-center">Your recent orders</h1>
            <div class="list-group">
                <a href="" class="list-group-item" ng-repeat="order in orders">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive"  src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/imac.png"  >
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Your order on {{order.order_date}}</h4>


                            <ul class="list-group">
                                <li class="list-group-item">Name: {{order.shipping_address.name}}</li>
                                <li class="list-group-item">Shipping Address: {{order.shipping_address.address}}</li>
                                <li class="list-group-item">City: {{order.shipping_address.city}} Country: {{order.shipping_address.country}}</li>
                                <li class="list-group-item">Quantity of Items: {{order.items[0].count}}</li>

                            </ul>

                        <p class="list-group-item-text">
                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <button type="button" class="btn btn-default btn-lg btn-block" ng-controller="orderController" ng-click="oneOrder(order._id)"> Details</button>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>